<?php echo BOX_BEGIN; ?>
<h2>Комплектация вашего заказа завершена</h2>
<p>Благодарим вас за заказ (# <?php echo $_SESSION['order_id']; ?>). Пожалуйста, указывайте номер заказа при переписке.</p>
<p>Плата за заказ в сумме $ <?php echo number_format($_SESSION['order_total']/100, 2); ?> снимается с вашей кредитной карты после доставки заказа. Все заказы обрабатываются на следующий рабочий день. В случае возникнования дополнительных задержек мы поставим вас в известность.</p>
<p>Подтверждение заказа будет отослано на ваш адрес электронной почты. <a href="receipt.php?x=<?php echo $_SESSION['order_id'] . '&y=' . sha1($_SESSION['email']); ?>">Щелкните здесь</a> для вывода на печать квитанции к вашему заказу.</p>
<?php echo BOX_END; ?>