<?php
echo BOX_BEGIN;

echo '<div class="wrapper">';

// Проверка продаж

// Если возвращены записи, отобразить информацию
if (mysqli_num_rows($r) > 0) {
	
	echo '<dl class="special fright">
		<dt><a href="/shop/sales/">Товары дня</a></dt>';

	// Выборка каждой позиции
   while ($row = mysqli_fetch_array($r, MYSQLI_ASSOC)) {
   	echo '<dd><a href="/shop/sales/#' . $row['sku'] . '" title="Просмотр этого товара"><img alt="" src="/products/' . $row['image'] . '" /><span>' . $row['sale_price'] . '</span></a></dd>';
   }
	
	echo '</dl>';

} // конец блока IF для mysqli_num_rows()

echo '<h2>Добро пожаловать в интернет-магазин кофе!</h2>
<p>Мы рады вас приветствовать на нашем сайте. Сядьте поудобнее. Позвольте вам предложить чашечку горячего кофе. Сливки или сахар? Право выбора - за вами.</p>
<p>Воспользуйтесь ссылками в верхней части страницы для нашего каталога. Если вам приходилось бывать на нашем сайте, можете вернуться к ранее выбранным товарам, щелкнув на ссылках Желания или Корзина. </p>
</div>';

echo BOX_END;
echo BOX_BEGIN;

echo '<h3>О компании Clever Coffee, Inc.</h3>
<p>Компания Clever Coffee, Inc. занимается продажами кофе с 1923 года. В прошлом Clever Coffee, Inc. теряла значительную часть прибыли из-за отсутствия компьютеров и Интернета.</p>
<p>Покупки в нашем магазине полностью безопасны!</p>';

echo BOX_BEGIN;